<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start" >
      <ion-menu-button class="manu_btn" menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{languageService.account_details_lang}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="px-10">
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-grid class="form-style">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">{{languageService.account_number_lang}}</ion-label>
              <ion-input
                name="ACOOUNT_NUMBER"
                required
                maxlength="16" 
                minlength="16"
                [ngModel]="bankDetails.ACOOUNT_NUMBER"
                formControlName="ACOOUNT_NUMBER"
              ></ion-input>
            </ion-item>
            <ion-item class="validation" *ngIf="submitted && f('ACOOUNT_NUMBER').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('ACOOUNT_NUMBER').hasError('required')"  class="validation">
                  {{languageService.account_details_lang}}
                </ion-label>
              </ion-item>

              <ion-item class="validation" *ngIf="submitted && f('ACOOUNT_NUMBER').hasError('minlength')"  
                lines="none">
                <ion-label  *ngIf="form.get('ACOOUNT_NUMBER').errors.minlength">
                  16 अंक लंबा होना चाहिए
                </ion-label>
              </ion-item>
    
              <ion-item class="validation" *ngIf="f('ACOOUNT_NUMBER').hasError('pattern')" 
              lines="none">
              <ion-label >
                {{languageService.mo_must_number}}
              </ion-label>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">{{languageService.ifsc_code_lang}}</ion-label>
              <ion-input
                name="IFSC"
                required
                [ngModel]="bankDetails.IFSC"
                formControlName="IFSC"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f('IFSC').hasError('required')"
                lines="none" class="validation">
                <ion-label *ngIf="f('IFSC').hasError('required')"  >
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>
    
            <ion-item>
              <ion-label position="floating">{{languageService.account_holder_lang}}</ion-label>
              <ion-input
                name="State"
                required
                [ngModel]="bankDetails.ACCOUNT_HOLDER_NAME"
                formControlName="ACCOUNT_HOLDER_NAME"
              ></ion-input>
            </ion-item>
            <ion-item class="validation" *ngIf="submitted && f('ACCOUNT_HOLDER_NAME').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('ACCOUNT_HOLDER_NAME').hasError('required')"  class="validation">
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>

            <ion-item>
              <ion-label position="floating">{{languageService.mobile_number_lang}}</ion-label>
              <ion-input 
               formControlName="PHONE_NUMBER"
               maxlength="10" 
               [ngModel]="bankDetails.PHONE_NUMBER"
               minlength="10"
               ></ion-input>
            </ion-item>

            <ion-item *ngIf="submitted && f('PHONE_NUMBER').hasError('required')"
            lines="none" class="validation">
            <ion-label *ngIf="f('PHONE_NUMBER').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item>

          <ion-item class="validation" *ngIf="f('PHONE_NUMBER').hasError('pattern')" 
          lines="none">
          <ion-label >
            {{languageService.mo_must_number}}
          </ion-label>
        </ion-item>

        <ion-item *ngIf="submitted && f('PHONE_NUMBER').hasError('minlength')"  
        lines="none">
        <ion-label  *ngIf="form.get('PHONE_NUMBER').errors.minlength"  style="color: red;">
          {{languageService.moValidation}}
        </ion-label>
      </ion-item>


           
        

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
         <ion-button class="ion-margin-vertical" type="submit" class="btn-primary" expand="block">{{languageService.account_details_lang}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
</ion-content>
