<ion-header>
  <ion-toolbar>
    <ion-title>{{languageService.perInform_for_lang}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="px-10">
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-grid class="form-style pb-70">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">{{languageService.enter_moNumber_for_lang}}</ion-label>
              <ion-input
                name="moNumber"
                required
                maxlength="10" 
                minlength="10"
                [ngModel]="moNumber"
                formControlName="moNumber"
                [value]="moNumber"
                disabled="true"
                type="tel"
              ></ion-input>
            </ion-item>

            <div *ngIf="submitted && f('moNumber').hasError('required')"
            lines="none">
            <ion-label *ngIf="f('moNumber').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </div>

        <ion-item *ngIf="submitted && f('moNumber').hasError('minlength')"  
          lines="none">
          <ion-label  *ngIf="form.get('moNumber').errors.minlength"  style="color: red;">
            {{languageService.moValidation}}
          </ion-label>
        </ion-item>

        

        <div *ngIf="f('moNumber').hasError('pattern')" 
          lines="none">
          <ion-label class="validation">
            {{languageService.mo_must_number}}
          </ion-label>
        </div>

        <ion-item>
          <ion-label position="floating">{{languageService.andhar_for_lang}}</ion-label>
            <ion-input
            name="adharNumber"
            required
            formControlName="adharNumber"
            maxlength="12" minlength="12" 
            [ngModel]="usersData.adharNumber"
           
          ></ion-input>
        </ion-item>
        <div class="validation" *ngIf="submitted && f('adharNumber').hasError('minlength')"  
          lines="none">
          <ion-label  *ngIf="form.get('adharNumber').errors.minlength">
            12 अंक लंबा होना चाहिए
          </ion-label>
        </div>

        <div class="validation" *ngIf="f('adharNumber').hasError('pattern')" 
          lines="none">
          <ion-label >
            {{languageService.mo_must_number}}
          </ion-label>
        </div>

        <div  *ngIf="submitted && f('adharNumber').hasError('required')"
        lines="none">
        <ion-label *ngIf="f('adharNumber').hasError('required')" class="validation">
          {{languageService.cant_empty_for_lang}}
        </ion-label>
      </div>
      
        <ion-item>
          <ion-label position="floating">{{languageService.name_for_lang}}</ion-label>
          <ion-input
            name="firstName"
            required
            formControlName="firstName"
            [ngModel]="usersData.firstName"
          ></ion-input>
        </ion-item>

        <div *ngIf="submitted && f('firstName').hasError('required')"
        lines="none">
        <ion-label *ngIf="f('firstName').hasError('required')" class="validation">
          {{languageService.cant_empty_for_lang}}
        </ion-label>
      </div>

        <ion-item>
          <ion-label position="floating">{{languageService.middleName_for_lang}}</ion-label>
          <ion-input
            name="middleName"
            formControlName="middleName"
            [ngModel]="usersData.middleName"
          ></ion-input>
        </ion-item>


        <ion-item class="ion-margin-bottom">
          <ion-label position="floating">{{languageService.lastName_for_lang}}</ion-label>
          <ion-input
            name="lastName"
            required
            formControlName="lastName"
            [ngModel]="usersData.lastName"
          ></ion-input>
        </ion-item>

        <div  *ngIf="submitted && f('lastName').hasError('required')"
        lines="none">
        <ion-label *ngIf="f('lastName').hasError('required')" class="validation">
          {{languageService.cant_empty_for_lang}}
        </ion-label>
      </div>
        

        <ion-item class="ion-margin-top">
          <ion-label>{{languageService.dob_for_lang}}</ion-label>
          <ion-datetime [ngModel]="usersData.date_of_birth" displayFormat="DD-MMM-YYYY" formControlName="date_of_birth"  placeholder="06/05/1998"></ion-datetime>
        </ion-item>

        <div lines="none"  *ngIf="f('date_of_birth').hasError('restrictAge')">
        <ion-label  class="validation">
          Age Must be greater than 18
        </ion-label>
      </div>

        <div  *ngIf="submitted && f('date_of_birth').hasError('required')"
        lines="none">
        <ion-label *ngIf="f('date_of_birth').hasError('required')" class="validation">
          {{languageService.cant_empty_for_lang}}
        </ion-label>
      </div>

        <ion-item>
          <ion-label position="floating">{{languageService.fatherName_for_lang}}</ion-label>
          <ion-input
            name="fatherName"
            required
            formControlName="fatherName"
            [ngModel]="usersData.fatherName"
          ></ion-input>
        </ion-item>

        <div  *ngIf="submitted && f('fatherName').hasError('required')"
        lines="none">
        <ion-label *ngIf="f('fatherName').hasError('required')" class="validation">
          {{languageService.cant_empty_for_lang}}
        </ion-label>
      </div>

      <ion-item lines="none" class="ion-margin-bottom custome-select">
        <ion-label class="ion-margin-bottom" position="stacked"
          >Gender</ion-label
        >
        <select
          formControlName="gender"
          name="gender"
          class="required"
        >
          <option value="" disabled selected>Select Location</option>
          <option *ngFor="let gender of genderData" [ngValue]="gender">
            {{gender}}
          </option>
        </select>
      </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>
      <div class="sumit-btn">
         <ion-button class="ion-margin-vertical" type="submit" class="btn-primary" expand="block">Continue</ion-button>
        </div>
    </ion-grid>
  </form>
</div>
</ion-content>
