<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Experience </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-10">
    <form>
      <ion-grid class="form-style pb-70">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <ion-list>
                <h6>{{languageService.skill_for_lang}}</h6>
                <ion-item lines="none" class="ion-margin-bottom custome-select">
                  
                  <select
                    (change)="getCoreSkills()"
                    formControlName="SKILLS"
                    name="skill"
                    class="required"
                  >
                    <option value="" disabled selected>Select Location</option>
                    <option *ngFor="let skills of allSkills" [ngValue]="skills">
                      {{skills.JOB_NAME_HINDI}}
                    </option>
                  </select>
                </ion-item>
                <div
                  *ngIf="submitted && f('SKILLS').hasError('required')"
                  lines="none"
                  class="validation"
                >
                  <ion-label
                    *ngIf="f('SKILLS').hasError('required')" 
                  >
                    {{languageService.cant_empty_for_lang}}
                  </ion-label>
                </div>

                <div *ngIf="areaOfWork.length != 0">
                  <h6>{{languageService.coreSkill_for_lang}}</h6>

                  <ion-item lines="none" *ngFor="let area of areaOfWork">
                    <ion-label>{{area.WORK_AREA_HINDI}}</ion-label>
                    <ion-checkbox
                      color="danger"
                      [value]="area"
                      (ionChange)="onCoreSkillChecked($event)"
                      [checked]="isChecked"
                    >
                    </ion-checkbox>
                  </ion-item>

                  <div
                    *ngIf="showCoreError"
                    lines="none"
                    class="validation"
                  >
                    <ion-label>
                      {{languageService.cant_empty_for_lang}}
                    </ion-label>
                  </div>
                </div>

                <div *ngIf="workExperiece.length != 0">
                  <h6>{{languageService.workExpe_for_lang}}</h6>

                  <ion-item lines="none" *ngFor="let skills of workExperiece">
                    <ion-label>{{skills.WORK_EXPE_HINDI}}</ion-label>
                    <ion-checkbox
                      color="danger"
                      [value]="skills"
                      (ionChange)="onExperienceChecked($event)"
                      [checked]="isChecked"
                    >
                    </ion-checkbox>
                  </ion-item>

                  <div *ngIf="showExError" lines="none" class="validation">
                    <ion-label>
                      {{languageService.cant_empty_for_lang}}
                    </ion-label>
                  </div>
                </div>

                
              </ion-list>
            </form>
          </ion-col>
        </ion-row>
        <div class="sumit-btn">
          <ion-button
                  class="ion-margin-vertical"
                  type="submit"
                  class="btn-primary"
                  expand="block"
                  >Continue</ion-button>
        </div>
      </ion-grid>
    </form>
  </div>
</ion-content>
