<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{languageService.uploadPhoto}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="px-16 form-style">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h5 class="head_Col" >
      {{languageService.upload_photo_document}}
    </h5>
    <ion-list class="uploadphoto">
      <ion-item lines="none">
        <ion-label class="lab_Weight">{{languageService.adhar_front}}</ion-label>
        <ion-button (click)="getAdharForntPhoto()">फोटो लो</ion-button>
      </ion-item>

      <img class="ion-margin-start" [src]="frontAdhar" alt="">
      <div *ngIf="submitted && f('adharFront').hasError('required')"
      lines="none" class="validation">
      <ion-label *ngIf="f('adharFront').hasError('required')"  class="validation">
        {{languageService.cant_empty_for_lang}}
      </ion-label>
    </div>

      <ion-item lines="none">
        <ion-label class="lab_Weight">{{languageService.andhar_back}}</ion-label>
        <ion-button (click)="getAdharBackPhoto()">
          फोटो लो
        </ion-button>
      </ion-item>
      <img class="ion-margin-start" [src]="backAdhar" alt="">

      <div *ngIf="submitted && f('adharBack').hasError('required')"
      lines="none" class="validation">
      <ion-label *ngIf="f('adharBack').hasError('required')"  class="validation">
        {{languageService.cant_empty_for_lang}}
      </ion-label>
    </div>

      <ion-item lines="none">
        <ion-label class="lab_Weight">{{languageService.address_proof}}</ion-label>
        <ion-button
         (click)="getAddressProofPhoto()">
         फोटो लो
        </ion-button>
      </ion-item>
      <img class="ion-margin-start" [src]="address" alt=""> 

      <div *ngIf="submitted && f('addressProof').hasError('required')"
      lines="none" class="validation">
      <ion-label *ngIf="f('addressProof').hasError('required')"  class="validation">
        {{languageService.cant_empty_for_lang}}
      </ion-label>
    </div>
    </ion-list>

    <ion-item lines="none" class="terms">
      <ion-checkbox  color="primary" formControlName="agreement"  value="accepted"  (ionChange)="getCheckedValue($event)"> </ion-checkbox> 
      <ion-label>जांच अवधि और शर्त</ion-label>
    </ion-item>
    
    <div *ngIf="submitted && f('agreement').hasError('required')"
    lines="none" class="validation">
    <ion-label *ngIf="f('agreement').hasError('required')"  class="validation">
      {{languageService.cant_empty_for_lang}}
    </ion-label>
  </div>

  <ion-item *ngIf="showError"
  lines="none" class="validation">
  <ion-label  class="validation">
    {{languageService.cant_empty_for_lang}}
  </ion-label>
</ion-item>
  <div class="sumit-btn">
    <ion-button 
    class="ion-margin-vertical"
    class="btn-primary"
    expand="block" 
    type="submit">
      जमा करें
    </ion-button>
  </div>
  </form>
</div>
</ion-content>