<ion-header class="header-section ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu_btn">
        <img src="./assets/images/user-profile.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Our Work</ion-title>
    <ion-button slot="end" class="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="new-work-container">

  <div class="page-heading">
    वर्तमान में जारी कार्य का विवरण
  </div>

  <div class="ion-padding">
    <div class="online-status">
      <ion-item lines="none">
        <ion-label>अभी आप ऑनलाइन है</ion-label>
        <ion-button slot="end"><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-item>
    </div>

    <div class="work-box cu-work">
      <ion-item lines="none">
        <ion-label>ID : ABC2365</ion-label>
        <ion-text slot="end"><img src="./assets/images/rupee.svg"/> 1200.00</ion-text>
      </ion-item>
      <div class="work-d ion-padding">
        <h3>Praveen Kumar Vishwakarma</h3>
        <p>ए. सी. एवं पंखा रिपेयर </p>
        <ion-row>
          <ion-col>
            <h6>Start Time</h6>
            <ion-text>03-08-2021 12:30 PM</ion-text>
          </ion-col>
          <ion-col>
            <h6>End Time</h6>
            <ion-text>03-08-2021  06:48 PM</ion-text>
          </ion-col>
        </ion-row>
        <p><ion-icon name="location-outline"></ion-icon> आनंद नगर, भोपाल</p>
      </div>
    </div>

    <div class="work-box cu-work">
      <ion-item lines="none">
        <ion-label>ID : ABC2365</ion-label>
        <ion-text slot="end"><img src="./assets/images/rupee.svg"/> 1200.00</ion-text>
      </ion-item>
      <div class="work-d ion-padding">
        <h3>Praveen Kumar Vishwakarma</h3>
        <p>ए. सी. एवं पंखा रिपेयर </p>
        <ion-row>
          <ion-col>
            <h6>Start Time</h6>
            <ion-text>03-08-2021 12:30 PM</ion-text>
          </ion-col>
          <ion-col>
            <h6>End Time</h6>
            <ion-text>03-08-2021  06:48 PM</ion-text>
          </ion-col>
        </ion-row>
        <p><ion-icon name="location-outline"></ion-icon> आनंद नगर, भोपाल</p>
      </div>
    </div>

    <div class="ion-text-right more-btn"><button ion-button>पिछले कार्यो का विवरण देखें</button></div>
    
  </div>

</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-label>आज अर्जित की गई राशि</ion-label>
    <ion-text><img src="./assets/images/rupee.svg"/> 10,000.00</ion-text>
  </ion-item>
</ion-footer>
