<ion-content>
  <div class="login-container">
    <div class="logo"><img src="./assets/images/logo.png"/></div>
    <div class="login-con">
      <h1>{{languageService.otp_for_lang}}</h1>

  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <div class="mobileno">
              <ion-input name="otp"  [value]="otpValue" required formControlName="otp" placeholder="OTP"></ion-input>
            </div>

            <ion-item lines="none" class="codeResend">
              <button ion-button (click)="otpResenet()" slot="end">{{languageService.resend_otp_for_lang}}</button>
            </ion-item>

            <div  *ngIf="submitted && f('otp').hasError('required')"
            lines="none">
            <ion-label *ngIf="f('otp').hasError('required')" class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </div>

          <div class="error" *ngIf="f('otp').hasError('pattern')" 
          lines="none">
          <ion-label   class="validation">
            {{languageService.mo_must_number}}
          </ion-label>
        </div>

          <div *ngIf="submitted && showError"
          lines="none">
          <ion-label class="validation">
            password do not match!
          </ion-label>
        </div>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
         <ion-button class="ion-margin-vertical" type="submit" expand="block">{{languageService.otp_verify_for_lang}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
</div>
</ion-content>
