<ion-header>
  <ion-toolbar class="tool">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{languageService.perInform_for_lang}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="px-10">
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-grid class="form-style">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">{{languageService.pincode_for_lang}} </ion-label>
              <ion-input
                name="pinCode"
                required
                 (ionChange)="callApiForPinCode()"
                [ngModel]="usersData.pincode"
                formControlName="pincode"
              ></ion-input>
            </ion-item>
            <ion-item class="validation" *ngIf="submitted && f('pincode').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('pincode').hasError('required')"  class="validation">
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>
    
              <ion-item class="validation" *ngIf="f('pincode').hasError('pattern')" 
              lines="none">
              <ion-label >
                Input must be a number!
              </ion-label>
            </ion-item>
            <div  style="margin-bottom: 16px; margin-left: 15px;"  *ngIf="form.get('pincode').touched && pincodeCheck" [style.color]="'red'">
              <span>पिनकोड सही नहीं है</span>
            </div>
    
            <ion-item>
              <ion-label position="floating">{{languageService.city_for_lang}}</ion-label>
              <ion-input
                name="city"
                required
                [ngModel]="autoCity"
                disabled="true"
                formControlName="city"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f('city').hasError('required')"
                lines="none" class="validation">
                <ion-label *ngIf="f('city').hasError('required')"  >
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>
    
            <ion-item>
              <ion-label position="floating">{{languageService.state_for_lang}} </ion-label>
              <ion-input
                name="State"
                required
                disabled="true"
                [ngModel]="autoState"
                formControlName="state"
              ></ion-input>
            </ion-item>
            <ion-item class="validation" *ngIf="submitted && f('state').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('state').hasError('required')"  class="validation">
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>

              <ion-item *ngIf="usersData.area == null" lines="none" class="ion-margin-bottom custome-select">
                <ion-label class="ion-margin-bottom" position="stacked">डाक क्षेत्र </ion-label>
                <select (change)="getAreas()"  formControlName="area"  name="skill" class="required">
                  <option    value="" disabled selected>Select Area</option>
                  <option  *ngFor="let areas of postalAreas"  [ngValue]="areas">{{areas}}</option>
                </select>
              </ion-item>

              <ion-item *ngIf="usersData.area != null" lines="none" class="ion-margin-bottom custome-select">
                <ion-label class="ion-margin-bottom" position="stacked">डाक क्षेत्र </ion-label>
                <select (change)="getAreas()" [ngModel]="usersData.area"  formControlName="area"  name="skill" class="required">
                  <option  *ngFor="let areas of postalAreas"  [ngValue]="areas">{{areas}}</option>
                </select>
              </ion-item>

              <ion-item *ngIf="submitted && f('area').hasError('required')"
          lines="none" class="validation">
          <ion-label *ngIf="f('area').hasError('required')"  class="validation">
            {{languageService.cant_empty_for_lang}}
          </ion-label>
        </ion-item>
    
           
            <ion-item>
              <ion-label position="floating">{{languageService.address1_for_lang}}</ion-label>
              <ion-input [ngModel]="usersData.address1" formControlName="address1"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f('address1').hasError('required')"
            lines="none" class="validation">
            <ion-label *ngIf="f('address1').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item>

            <ion-item>
              <ion-label position="floating">{{languageService.address2_for_lang}}</ion-label>
              <ion-input [ngModel]="usersData.address2" formControlName="address2"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f('address2').hasError('required')"
            lines="none" class="validation">
            <ion-label *ngIf="f('address2').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item>

            <ion-item>
              <ion-label position="floating">{{languageService.address3_for_lang}}</ion-label>
              <ion-input [ngModel]="usersData.address3" formControlName="address3"></ion-input>
            </ion-item>
            <ion-item *ngIf="submitted && f('address3').hasError('required')"
            lines="none" class="validation">
            <ion-label *ngIf="f('address3').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item>

            <!-- <ion-item>
              <ion-label position="floating">{{languageService.area_for_lang}}</ion-label>
              <ion-input [ngModel]="usersData.area" name="area" required formControlName="area"></ion-input>
            </ion-item>

            <ion-item class="validation" *ngIf="submitted && f('area').hasError('required')"
            lines="none">
            <ion-label *ngIf="f('area').hasError('required')">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item> -->

        

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
         <ion-button class="ion-margin-vertical" type="submit" class="btn-primary" expand="block">Continue</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
</ion-content>
