<ion-header class="header-section ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu_btn">
        <img src="./assets/images/user-profile.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Family Details</ion-title>
    <ion-button slot="end" class="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="px-10">
  
    <ion-grid class="form-style pb-70">
     
      <ion-row>
        <form [formGroup]="form"  (ngSubmit)="onSubmit()">
          <ion-row>
            <ion-col size="8">
            <ion-item>
              <ion-label position="floating">{{languageService.father_name_lang}}</ion-label>
              <ion-input name="FATHER_NAME" required [ngModel]="fatherName" formControlName="FATHER_NAME"></ion-input>
            </ion-item>
            <ion-item class="validation" *ngIf="submitted && f('FATHER_NAME').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('FATHER_NAME').hasError('required')"  class="validation">
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="floating">पिता की उम्र</ion-label>
                <ion-input
                  name="FATHER_AGE"
                  required
                  formControlName="FATHER_AGE"
                ></ion-input>
              </ion-item>
            </ion-col>
            </ion-row>
            
            <ion-row>
              <ion-col size="8">
            <ion-item>
              <ion-label position="floating">{{languageService.mother_name_lang}}</ion-label>
              <ion-input
                name="MOTHER_NAME"
                required
                formControlName="MOTHER_NAME"
              ></ion-input>
            </ion-item>
              </ion-col>
              <ion-col size="4">
            <ion-item>
              <ion-label position="floating">माता की उम्र</ion-label>
              <ion-input
                name="MOTHER_AGE"
                required
                formControlName="MOTHER_AGE"
              ></ion-input>
            </ion-item>
          </ion-col>
          </ion-row>

          <ion-item *ngIf="submitted && f('MOTHER_NAME').hasError('required')"
                lines="none" class="validation">
                <ion-label *ngIf="f('MOTHER_NAME').hasError('required')"  >
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
          </ion-item>

          <ion-row>
            <ion-col size="8">
            <ion-item>
              <ion-label position="floating">{{languageService.wife_name_lang}}</ion-label>
              <ion-input
                name="WIFE_NAME"
                required
                formControlName="WIFE_NAME"
              ></ion-input>
            </ion-item>
          </ion-col>
            <ion-col size="4">
            <ion-item>
              <ion-label position="floating">पत्नी की उम्र</ion-label>
              <ion-input
                name="WIFE_AGE"
                required
                formControlName="WIFE_AGE"
              ></ion-input>
            </ion-item>
          </ion-col>
          </ion-row>


            <ion-item class="validation" *ngIf="submitted && f('WIFE_NAME').hasError('required')"
                lines="none">
                <ion-label *ngIf="f('WIFE_NAME').hasError('required')"  class="validation">
                  {{languageService.cant_empty_for_lang}}
                </ion-label>
              </ion-item>

              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="floating">बच्चा 1</ion-label>
                    <ion-input
                      name="CHILD_NAME1"
                      required
                      formControlName="CHILD_NAME1"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">बच्चे की उम्र</ion-label>
                    <ion-input
                      name="CHILD_AGE1"
                      required
                      formControlName="CHILD_AGE1"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="floating">बच्चा 2</ion-label>
                    <ion-input
                      name="CHILD_NAME2"
                      required
                      formControlName="CHILD_NAME2"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">बच्चे की उम्र</ion-label>
                    <ion-input
                      name="CHILD_AGE2"
                      required
                      formControlName="CHILD_AGE2"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="floating">बच्चा 3</ion-label>
                    <ion-input
                      name="CHILD_NAME3"
                      required
                      formControlName="CHILD_NAME3"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">बच्चे की उम्र</ion-label>
                    <ion-input
                      name="CHILD_AGE3"
                      required
                      formControlName="CHILD_AGE3"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col size="8">
                  <ion-item>
                    <ion-label position="floating">बच्चा 4</ion-label>
                    <ion-input
                      name="CHILD_NAME4"
                      required
                      formControlName="CHILD_NAME4"
                    ></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="4">
                  <ion-item>
                    <ion-label position="floating">बच्चे की उम्र</ion-label>
                    <ion-input
                      name="CHILD_AGE4"
                      required
                      formControlName="CHILD_AGE4"
                    ></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              

              <!-- <ion-row>
        
      
                <form [formGroup]="familyFrom">
                  <ion-item lines="none" class="ion-margin-bottom custome-select">
                    <ion-label class="ion-margin-bottom" position="stacked"
                      >{{languageService.child_name_lang}}</ion-label
                    >
                    <select
                      (change)="addChilds()"
                      formControlName="dataValue"
                      name="dataValue"
                      class="required"
                    >
                      <option value="" disabled selected>Select Location</option>
                      <option *ngFor="let value of numberValue" [ngValue]="value">
                        {{value}}
                      </option>
                    </select>
                  </ion-item>
          
                  <div formArrayName="childValue">
                    <div *ngFor="let columns of childDataValue.controls; let i = index">
                      <div *ngIf="showDynamicChilds" [formGroupName]="i">
                        <div>
                          {{i + 1}}
                        </div>
                          <ion-item>
                            <ion-label position="floating">{{languageService.child_name_lang}}</ion-label>
                            <ion-input formControlName="CHILD_NAME"  (ionChange)="getChildValue(i)"></ion-input>
                          </ion-item>
              
                          <ion-item>
                            <ion-label position="floating">child age</ion-label>
                            <ion-input formControlName="CHILD_AGE" (ionChange)="getChildValue(i)"></ion-input>
                          </ion-item>
                       
                      </div>
                     
                    </div>
                  </div>
                  
                </form>
                </ion-row> -->

              <div class="sumit-btn">
                <ion-button class="ion-margin-vertical" type="submit" class="btn-primary" expand="block">Submit</ion-button>
              </div>

            <!-- <ion-item>
              <ion-label position="floating">{{languageService.child_name_lang}}</ion-label>
              <ion-input  formControlName="CHILD_NAME"></ion-input>
            </ion-item> -->

            <!-- <ion-item *ngIf="submitted && f('CHILD_NAME').hasError('required')"
            lines="none" class="validation">
            <ion-label *ngIf="f('CHILD_NAME').hasError('required')"  class="validation">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </ion-item> -->
        
      </form>
      </ion-row>
    
      
    </ion-grid>
  
</div>
</ion-content>
