<!--<ion-header>
  <ion-toolbar class="tool">
    <ion-title style="color: white;">Login</ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content>
  
  <div class="login-container">
    <div class="logo"><img src="./assets/images/logo.png"/></div>
    <div class="login-con">
    <h1>{{languageService.moNumber_for_lang}}</h1>
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <div class="mobileno">
              <ion-input name="number" required formControlName="number" maxlength="10" minlength="10" type="tel" placeholder="Enter Mobile Number"></ion-input>
            </div>

            <div class="error" *ngIf="submitted && f('number').hasError('required')"
            lines="none">
            <ion-label *ngIf="f('number').hasError('required')"  style="color: red;">
              {{languageService.cant_empty_for_lang}}
            </ion-label>
          </div>

        <div class="error" *ngIf="submitted && f('number').hasError('minlength')"  
          lines="none">
          <ion-label  *ngIf="form.get('number').errors.minlength"  style="color: red;">
            {{languageService.moValidation}}
          </ion-label>
        </div>

        <div class="error" *ngIf="f('number').hasError('pattern')" 
          lines="none">
          <ion-label   style="color: red;">
            {{languageService.mo_must_number}}
          </ion-label>
        </div>


        <ion-item lines="none" class="terms">
          <ion-checkbox  color="primary"  value=""  (ionChange)="getCheckedValue($event)"> </ion-checkbox> 
          <ion-label>Referal Code</ion-label>
        </ion-item>


        <div class="mobileno" *ngIf="showTextBox" >
          <h1>Enter Referal code</h1>
          <ion-input name="REFERAL_CODE" formControlName="REFERAL_CODE" placeholder="123456"></ion-input>
        </div>

        <div class="error" *ngIf="showError && onSubmit" 
          lines="none">
          <ion-label   style="color: red;">
            Refferal code is not correct!
          </ion-label>
        </div>

          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
         <ion-button class="ion-margin-vertical" type="submit" expand="block">{{languageService.otp_for_lang}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</div>
</div>
</ion-content>
