<ion-header class="header-section ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu_btn">
        <img src="./assets/images/user-profile.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Team Lists</ion-title>
    <ion-button slot="end" class="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="add-document ion-padding">
    <h2>आपकी नई टीम बनाये</h2>
    <ion-select placeholder="डॉक्यूमेंट का प्रकार चुने">
      <ion-select-option value="f">Aadhar Card</ion-select-option>
      <ion-select-option value="m">Pan Card</ion-select-option>
    </ion-select>
    <div class="ion-text-end ion-padding-top">
      <ion-button class="btn-primary">डॉक्यूमेंट की फोटो खीचे</ion-button>
    </div>
    <div class="document-image">
      <img src="./assets/images/product-jpeg.jpeg"/>
    </div>

    <div class="teamno feedback-star">
      <ion-item lines="none">
        <ion-label>आपके द्वारा जमा किये गए डॉक्यूमेंट</ion-label>
      </ion-item>
    </div>
<div class="teams-members">
    <ion-grid>
      <ion-row class="header">
        <ion-col size="2">
          <div class="num">क्र.</div>
        </ion-col>
        <ion-col size="5">
          <div>डॉक्यूमेंट का प्रकार</div>
        </ion-col>
        <ion-col>
          <div size="5" class="ion-text-end">दिनांक</div>
        </ion-col>
      </ion-row>

      <ion-row class="table-ontent">
        <ion-col size="2">
          <div class="num">1</div>
        </ion-col>
        <ion-col size="5">
          <div>पुलिस वेरिफिकेशन</div>
        </ion-col>
        <ion-col>
          <div size="5" class="ion-text-end">26-07-2021</div>
        </ion-col>
      </ion-row>
      <ion-row class="table-ontent">
        <ion-col size="2">
          <div class="num">2</div>
        </ion-col>
        <ion-col size="5">
          <div>आई टी आई प्रमाड पत्र</div>
        </ion-col>
        <ion-col>
          <div size="5" class="ion-text-end">30-07-2021</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>

</ion-content>
