<ion-header class="header-section ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu_btn">
        <img src="./assets/images/user-profile.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Team Lists</ion-title>
    <ion-button slot="end" class="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my-team team-list">
    <h2>आपकी टीम</h2>

    <div class="recent-work joined-team">
      <div class="work-box">
        <div class="work-d ion-padding">
          <h3>#1 White Washing</h3>
          <h5>टीम लीडर</h5>
          <p>नाम - <strong>Devilal Ahirwar</strong></p>
          <p>मो - <strong>9823586956</strong></p>
          <p>टीम में सदस्यों की कुल संख्या - <strong>04</strong></p>

          <ion-button class="btn-primary" routerLink="/edit-team">Edit</ion-button>
        </div>
      </div>
  
      <div class="work-box">
        <div class="work-d ion-padding">
          <h3>#2 White Plumbers</h3>
          <h5>टीम लीडर</h5>
          <p>नाम - <strong>Devilal Ahirwar</strong></p>
          <p>मो - <strong>9823586956</strong></p>
          <p>टीम में सदस्यों की कुल संख्या - <strong>04</strong></p>
          <ion-button class="btn-primary" routerLink="/edit-team">Edit</ion-button>
        </div>
      </div>
    </div>

    </div>

</ion-content>
