.tool{
    --background: #eb445a;
}

ion-list {
    --ion-item-background: transparent;
}

.codeResend {
    --inner-padding-end:0px;
    --padding-start:0px;
    label {font-size: 14px;color: #ff0000;}
    button {
        background: transparent;
        color: #3B63FF;
        font-weight: 600;
    }
}

.login-container {
    ion-button {margin-top: 0px;}
}

.validation{
    color: red;
    font-size: 14px;
}