<ion-header class="header-section ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="manu_btn">
        <img src="./assets/images/user-profile.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>New Work</ion-title>
    <ion-button slot="end" class="qrcode">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="new-work-container">

  <div class="page-heading">
    प्रतीक्षारत नये कार्यो का विवरण
  </div>

  <div class="ion-padding">
    <div class="online-status">
      <ion-item lines="none">
        <ion-label>अभी आप ऑनलाइन है</ion-label>
        <ion-button slot="end"><ion-icon name="power-outline"></ion-icon></ion-button>
      </ion-item>
    </div>

    <div class="work-box cu-work">
      <ion-item lines="none">
        <ion-label>ID : ABC2365</ion-label>
        <ion-text slot="end"><img src="./assets/images/rupee.svg"/> 1200.00</ion-text>
      </ion-item>
      <div class="work-d ion-padding">
        <h3>Praveen Vishwakarma</h3>
        <span class="distance">0.8KM</span>
        <p>ए. सी. एवं पंखा रिपेयर </p>
        <ion-row>
          <ion-col>
            <div class="d-flex">
            <h6>Start Time</h6>
            <ion-text>03-08-2021 12:30 PM</ion-text>
          </div>
          </ion-col>
        </ion-row>
        <p><ion-icon name="location-outline"></ion-icon> आनंद नगर, भोपाल</p>

        <div class="w-photo">
          <ion-row>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
          </ion-row>
        </div>

        <ion-item class="bid-status" lines="none">
          <ion-label>आपकी वर्तमान बोली</ion-label>
          <ion-text><img src="./assets/images/rupee-b.svg"/> 450</ion-text>
        </ion-item>
      </div>

      <div class="btn-group">
        <ion-button color="danger">नकारे</ion-button>
        <ion-button color="warning">बोली बढ़ाये</ion-button>
        <ion-button color="success">स्वीकार करें</ion-button>
      </div>

    </div>   

    <div class="work-box cu-work">
      <ion-item lines="none">
        <ion-label>ID : ABC2365</ion-label>
        <ion-text slot="end"><img src="./assets/images/rupee.svg"/> 1200.00</ion-text>
      </ion-item>
      <div class="work-d ion-padding">
        <h3>Praveen Vishwakarma</h3>
        <span class="distance">0.8KM</span>
        <p>ए. सी. एवं पंखा रिपेयर </p>
        <ion-row>
          <ion-col>
            <div class="d-flex">
            <h6>Start Time</h6>
            <ion-text>03-08-2021 12:30 PM</ion-text>
          </div>
          </ion-col>
        </ion-row>
        <p><ion-icon name="location-outline"></ion-icon> आनंद नगर, भोपाल</p>

        <div class="w-photo">
          <ion-row>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
            <ion-col>
              <img src="./assets/images/ac-1.png"/>
            </ion-col>
          </ion-row>
        </div>

        <ion-item class="bid-status" lines="none">
          <ion-label>आपकी वर्तमान बोली</ion-label>
          <ion-text><img src="./assets/images/rupee-b.svg"/> 450</ion-text>
        </ion-item>
      </div>

      <div class="btn-group">
        <ion-button color="danger">नकारे</ion-button>
        <ion-button color="warning">बोली बढ़ाये</ion-button>
        <ion-button color="success">स्वीकार करें</ion-button>
      </div>
    </div>
  </div>
</ion-content>
