<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Refferal Code</ion-label>
    <ion-label style="text-align: center;">{{refferalCode}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Wallet Amount</ion-label>
    <ion-label style="text-align: center;">{{walletAmount}}</ion-label>
  </ion-item>
</ion-content>
