<ion-header>
  <ion-toolbar class="tool">
    <ion-title style="color: white;" routerLink="/form-fourth">Back</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form"  (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-label>Check Term And Condition</ion-label>
      <ion-checkbox  color="danger" value="accepted"  (ionChange)="getCheckedValue($event)" [checked]="isChecked"> </ion-checkbox>
    </ion-item>

    <ion-button  
                class="ion-margin-vertical"
                type="submit"
                color="danger"
                expand="block">Submit</ion-button>
  </form>
</ion-content>
